@model IEnumerable<ProductModel>
<h1>Product List</h1>
       <a class="nav-link" asp-area="" asp-controller="Product" asp-action="create">Create New Product</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Supplier ID</th>
            <th>Category ID</th>
            <th>Unit Price</th>
            <th>Units In Stock</th>
            <th>Units On Order</th>
            <th>Vendor ID</th>
            <th>Options</th>
        </tr>

    </thead>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.Name</td>
            <td>@c.SupplierId</td>
            <td>@c.CategoryId</td>
            <td>@c.UnitPrice</td>
            <td>@c.UnitsInStock</td>
            <td>@c.UnitsOnOrder</td>
            <td>@c.VendorId </td>
            <td>
                <a class="btn btn-warning" asp-action="Detail" asp-controller="Product" asp-route-id="@c.Id">Details</a>
                <a asp-action="Edit" class="btn btn-success" asp-controller="Product" asp-route-id="@c.Id">Edit</a>
                <a asp-action ="Delete" class="btn btn-danger" asp-controller="Product" asp-route-regionId="@c.Id" >Delete</a>
            </td>
        </tr>

    }
    </table>

    <br>

    <br>


            <a class="nav-link" asp-area="" asp-controller="Product" asp-action="create">Create New Product</a>

   <br>



   @foreach(var x in Model){
   <div class="card" style="width: 18rem; display: inline-block">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> @x.Name </h5>
                <p class="card-text">Unit Price: $@x.UnitPrice USD</p>
                <p class="card-text">Itmes left in stock: @x.UnitsInStock</p>
                                <a class="btn btn-primary" asp-action="Detail" asp-controller="Product" asp-route-id="@x.Id">Learn More</a>
            </div>
   </div>

            }