@model IEnumerable<EmployeeModel>
<h1>Employee List</h1>
       <a class="nav-link" asp-area="" asp-controller="Employee" asp-action="create">Create New Employee</a>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Title</th>
            <th>City</th>
            <th>Hire Date</th>
            <th>Phone</th>
            <th>Country</th>
            <th>Options</th>
        </tr>

    </thead>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.FirstName</td>
            <td>@c.LastName</td>
            <td>@c.Title</td>
            <td>@c.City</td>
            <td>@c.HireDate</td>
            <td>@c.Phone</td>
            <td>@c.Country </td>
            <td>
                <a class="btn btn-warning" asp-action="Detail" asp-controller="Employee" asp-route-id="@c.Id">Details</a>
                <a asp-action="Edit" class="btn btn-success" asp-controller="Employee" asp-route-id="@c.Id">Edit</a>
                <a asp-action ="Delete" class="btn btn-danger" asp-controller="Employee" asp-route-regionId="@c.Id" >Delete</a>
            </td>
        </tr>

    }
    </table>

    <br>



            <a class="nav-link" asp-area="" asp-controller="Employee" asp-action="create">Create New Employee</a>

   <br>



   @foreach(var x in Model){
   <div class="card" style="width: 18rem; display: inline-block;">
            <img class="card-img-top" style="object-fit:cover; height: 25rem" src="@x.PhotoPath" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@x.FirstName @x.LastName</h5>
                <p class="card-text">@x.Title | @x.Country</p>
                <p class="card-text">@x.City | @x.Phone</p>
                 <a class="btn btn-primary" asp-action="Detail" asp-controller="Product" asp-route-id="@x.Id">Learn More</a>
            </div>
   </div>

            }